<!DOCTYPE html>
<html lang="{{ app('locale') }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a BitShort</title>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
</head>

<body class="h-screen">
    <main class="container flex min-h-screen items-center justify-center gap-6">
        <div class="flex flex-col items-center justify-center p-3">
            <div class="mb-8 flex flex-col gap-4 text-center">
                <h1 class="text-center text-3xl font-bold md:text-5xl lg:text-6xl">
                    <span
                        class="bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 bg-clip-text text-transparent">BitShort
                        -
                        Acortador de URLs</span>
                </h1>
                <p class="text-lg font-medium lg:text-xl lg:font-semibold">
                    Crea URLs cortas para tus enlaces de red social, blog o paginas web.
                </p>
            </div>

            <div class="mt-8 flex flex-col items-center gap-4">
                {% if attribute(session(), 'hasFlash', ['error']) %}
                <div role="alert" class="alert alert-error">
                    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none"
                        viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <span>{{ attribute(session(), 'getFlash', ['error']) }}</span>
                </div>
                {% endif %}
                <div class="card bg-base-300">
                    <div class="card-body w-auto md:w-96">
                        <form action="{{ route('generate') }}" method="POST">
                            {{ csrf() }}
                            <div class="form-control">
                                <label class="label">
                                    <span class="label-text text-lg font-semibold">Ingresa el enlace</span>
                                </label>
                                <input type="text" name="url" placeholder="Enlace" class="input-bordered input" />
                            </div>
                            <div class="form-control mt-6">
                                <button class="btn-primary btn">Acortar</button>
                            </div>
                        </form>
                    </div>
                </div>
                {% if attribute(session(), 'hasFlash', ['url']) %}
                <div class="card bg-base-300">
                    <div class="card-body w-auto md:w-96">
                        <div class="form-control">
                            <label class="label">
                                <span class="label-text text-lg font-semibold">Tu URL acortada</span>
                            </label>
                            <input type="text" name="url" value="{{ attribute(session(), 'getFlash', ['url']) }}"
                                class="input-bordered input" readonly />
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </main>
    <script src="{{ asset('js/app.js') }}" type="module"></script>
</body>

</html>